.app-container {
  display: flex;
  height: 19.5vh;
  background-color: #000;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px; 
  height: 100%;
  background: #000;
  margin: 10px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #000;
  box-shadow: 8px 8px  15px #2424a1a4;
  margin: 1rem;
}

.content-section {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  background: #000;
  height: 120px;
  width: 100%;
  padding: 0;
  z-index: 2;
}
.profile{
  position: relative;
  display: flex;
  align-items: center;
  margin-right: auto;
  justify-content: space-between;
}
.name-section {
  color: #2424a1a4;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}

.nav-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-right: 3rem;
}
@media (max-width: 1200px) {
  .content-section{
    display: none;
  }
  
  .app-container {
    justify-content: center;
    align-items: center;
  }
  
  .profile {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  
  .profile-section {
    margin-bottom: 0.5rem;
  }
}
.gooey-nav-container {
  margin-right: auto;
}

.custom-class {
  font-size: 2rem;
  font-weight: 800;
  color: #2424a1a4;
}


@media (max-width: 1200px) {
  .custom-class {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin: 0rem;
  }
  .app-container {
    height: 45vh;
    justify-content: center;
    align-items: center;
  }
  .profile-image {
    width: 200px;
    height: 200px;
    margin: 0rem;
  }
  .profile{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .custom-class {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin: 0rem;
  }
  .app-container {
    height: 40vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
  }
  .profile-image {
    width: 180px;
    height: 180px;
  }
  .profile-section {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100px; 
    height: 100%;
    background: #000;
  }
}
